.banner {
    height: 600px;
    position: relative;
    color: white;
    object-fit: contain;
}

.banner__contents {
    margin-left: 30px;
    padding-top: 200px;
    height: 190px;
    margin-left:20%;
}

.banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    text-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.844);
    padding-bottom:10px;
}

.banner__description {
    width: 45rem;
    line-height:1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;   
}

.banner--fadeBottom {
    height: 13.1rem;
    background-image: linear-gradient(180deg, transparent, rgba(26, 26, 26, 0.731),#111);
}

.banner__button {
    cursor: pointer;
    font-weight: 700;
    border: none;
    outline: none;
    border: none;
    color: #fff;

    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;

    padding-top: 0.5rem;
    background-color: rgba(19, 19, 19, 0.5);
    padding-bottom: 0.5rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.161);
    transition: transform .4s; 
}

.banner__button:hover {
    transform: scale(0.97);
    background-color: #800 ;
    transition: all 0.2s;
}